<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:powercaptcha="http://typo3.org/ns/PowerCaptcha/Typo3/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:variable name="conf" value="{powercaptcha:configuration()}" />

    <f:if condition="{conf.enabled}">
        <f:then>
            <f:asset.script defer="1" identifier="powercaptcha" src="<f:format.htmlspecialchars>{conf.javascriptUrl}</f:format.htmlspecialchars>" />
            <div class="powermail_fieldwrap powermail_fieldwrap_type_check powermail_fieldwrap_{field.marker} {field.css} {settings.styles.framework.fieldAndLabelWrappingClasses}">
                <div class="{settings.styles.framework.fieldWrappingClasses}">
                    <div 
                        data-pc-sitekey="<f:format.htmlspecialchars>{conf.apiKey}</f:format.htmlspecialchars>" 
                        data-pc-endpoint="<f:format.htmlspecialchars>{conf.endpointUrl}</f:format.htmlspecialchars>"
                        data-pc-client-uid="<f:format.htmlspecialchars>{conf.clientUid}</f:format.htmlspecialchars>"
                        data-pc-lang="<f:format.htmlspecialchars>{conf.lang}</f:format.htmlspecialchars>"
                        data-pc-check-mode="<f:format.htmlspecialchars>{conf.checkMode}</f:format.htmlspecialchars>"
                        data-pc-debug="<f:format.htmlspecialchars>{conf.debugMode}</f:format.htmlspecialchars>"
                    ></div>
                    <div class="powermail-powercaptcha-errors-container"></div>
                </div>
            </div>

            <f:asset.script defer="1" identifier="powercaptcha-ext-powermail">
                // create custom powermail validator for valdiationCheckbox
                // see https://github.com/in2code-de/powermail/blob/develop/Documentation/ForDevelopers/WriteOwnValidators.md
                // see https://github.com/in2code-de/powermail/blob/develop/Resources/Private/Build/JavaScript/FormValidation.js
                document.addEventListener("PowerCaptchaReady", (event) => {
                    const captcha = event.detail.captcha;
                    const form = captcha.formElement;

                    if(!form.classList.contains('powermail_form')) {
                        // exclude non powermail forms
                        return;
                    }

                    // modifying captcha validationCheckbox to get powermail validation work
                    captcha.validationCheckbox.required = false; // remove required from valditionCheckbox to disable the powermail default required-validator
                    captcha.validationCheckbox.setAttribute('data-powermail-powercaptcha', ''); 
                    captcha.validationCheckbox.setAttribute('data-powermail-errors-container', '.powermail-powercaptcha-errors-container'); 
                    captcha.validationCheckbox.setAttribute(
                        'data-powermail-powercaptcha-message', 
                        "<f:format.htmlspecialchars>{f:translate(key:'LLL:EXT:power_captcha/Resources/Private/Language/locallang.xlf:message.invalid')}</f:format.htmlspecialchars>"
                    ); 

                    const formValidation = form.powermailFormValidation;
                    formValidation.addValidator('powercaptcha', function(field) {
                        if (field == captcha.validationCheckbox) {
                            const isInvalid = !captcha.isValid();
                            if(isInvalid) {
                                captcha.showInvalid();
                            }
                            // return true means validation has failed
                            return isInvalid;
                        }
                    });
                });
            </f:asset.script>
        </f:then>
        <f:else>
            <p>{f:translate(key:'LLL:EXT:power_captcha/Resources/Private/Language/locallang.xlf:message.disabled_missing_configuration')}</p>
        </f:else>
    </f:if>

</html>