<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
	xmlns:powercaptcha="http://typo3.org/ns/PowerCaptcha/Typo3/ViewHelpers"
	data-namespace-typo3-fluid="true">

	<formvh:renderRenderable renderable="{element}">
		<f:variable name="conf" value="{powercaptcha:configuration()}" />

		<f:if condition="{conf.enabled}">
			<f:then>
                <f:asset.script defer="1" async="1" identifier="powercaptcha" src="<f:format.htmlspecialchars>{conf.javascriptUrl}</f:format.htmlspecialchars>" />

                <f:render partial="Field/Field" arguments="{element: element, doNotShowLabel: 1}" contentAs="elementContent">
                    <div 
                        data-pc-sitekey="<f:format.htmlspecialchars>{conf.apiKey}</f:format.htmlspecialchars>" 
                        data-pc-endpoint="<f:format.htmlspecialchars>{conf.endpointUrl}</f:format.htmlspecialchars>"
                        data-pc-client-uid="<f:format.htmlspecialchars>{conf.clientUid}</f:format.htmlspecialchars>"
                        data-pc-lang="<f:format.htmlspecialchars>{conf.lang}</f:format.htmlspecialchars>"
                        data-pc-debug="<f:format.htmlspecialchars>{conf.debugMode}</f:format.htmlspecialchars>"
                    ></div>

					<f:form.hidden
						property="{element.identifier}"
						id="{element.uniqueIdentifier}"
						value="1"
						additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
					/>

                </f:render>
				<f:asset.script identifier="powercaptcha-ext-form">
					document.addEventListener("PowerCaptchaReady", (event) => {
						const captcha = event.detail.captcha;
						const form = captcha.formElement;
						if(form.classList.contains('powermail_form')) {
							// exclude powermail_forms
							return;
						}
						form.addEventListener('submit', (event) => {
							if(captcha.checkValidity() === false) {
								// prevent submit if checkValidity is false
								event.preventDefault(); 
							}
						});
					});
				</f:asset.script>
            </f:then>
            <f:else>
                <p>{f:translate(key:'LLL:EXT:power_captcha/Resources/Private/Language/locallang.xlf:message.disabled_missing_configuration')}</p>
            </f:else>
		</f:if>
	</formvh:renderRenderable>
</html>