<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers"
	xmlns:powercaptcha="http://typo3.org/ns/PowerCaptcha/Typo3/ViewHelpers"
	data-namespace-typo3-fluid="true">

	<formvh:renderRenderable renderable="{element}">
		<f:variable name="conf" value="{powercaptcha:configuration()}" />

		<f:if condition="{conf.enabled}">
			<f:then>
                <f:asset.script defer="1" async="1" identifier="powercaptcha" src="<f:format.htmlspecialchars>{conf.javascriptUrl}</f:format.htmlspecialchars>" />

                <f:render partial="Field/Field" arguments="{element: element, doNotShowLabel: 1}" contentAs="elementContent">
					<f:form.hidden
						property="{element.identifier}"
						id="{element.uniqueIdentifier}"
						value="1"
						additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
					/>
					<script>
                        function withPowerCaptcha(callback) {
							const readyCheck = () => {
								if (window['uiiCaptcha'] !== undefined) {
									clearInterval(checkInterval);
									callback(window['uiiCaptcha']);
								}
							};
							const checkInterval = setInterval(readyCheck, 200);
						}

						document.addEventListener('DOMContentLoaded', function () {

                            // TODO username field

                            const fieldId = '<f:format.htmlspecialchars>{element.uniqueIdentifier}</f:format.htmlspecialchars>';
                            const form = document.getElementById(fieldId).closest('form');
                            const formSubmitButton = form.querySelector('[type="submit"]');

                            const clientUid = '<f:format.htmlspecialchars>{conf.clientUid}</f:format.htmlspecialchars>';
                            const endpointUrl = '<f:format.htmlspecialchars>{conf.endpointUrl}</f:format.htmlspecialchars>';
                            const apiKey = '<f:format.htmlspecialchars>{conf.apiKey}</f:format.htmlspecialchars>';
                            const lang = '<f:format.htmlspecialchars>{conf.lang}</f:format.htmlspecialchars>';

                            // append hidden input for token
                            const tokenField = document.createElement("input");
                            tokenField.name = "pc-token";
                            tokenField.type = "hidden";
                            form.appendChild(tokenField);

                            // create captcha instance
                            withPowerCaptcha((powerCaptcha) => {
                                const captchaInstance = powerCaptcha.captcha({idSuffix: fieldId, lang: lang});
                                form.addEventListener('submit', event => {
                                    if(tokenField.value === "") {
                                        console.debug('pc-token field empty. preventing form submit and requesting token.');
                                        event.preventDefault();

                                        // TODO username field validation

                                        // requesting token
                                        captchaInstance.check({
                                            apiKey: apiKey,
                                            backendUrl: endpointUrl,
                                            clientUid: clientUid,
                                            // user: userName,
                                            callback: ''
                                        }, 
                                        function(token) {
                                            console.debug('captcha solved with token: '+token+'. setting value to tokenField.');
                                            tokenField.value = token;
                                            console.debug('resubmitting form.');
                                            if(formSubmitButton) {
                                                formSubmitButton.click();
                                            } else {
                                                form.submit();
                                            }
                                        });
                                    } else {
                                        console.debug('pc-token already set. no token has to be requested. wcLoginForm can be submitted.');
                                    }
                                });
                            });
                        });
                    </script>
                </f:render>
            </f:then>
		</f:if>
	</formvh:renderRenderable>
</html>